body[b-qi5dsc2gxt]{
    margin: 20px;
}

h2[b-qi5dsc2gxt]{
    color:blue;
}
ul[b-qi5dsc2gxt] {
    list-style-type:none;
    padding: 0;
}
li[b-qi5dsc2gxt]{
    margin-bottom: 12px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

input[tyoe="checkbox"][b-qi5dsc2gxt]{
    margin-right: 15px;
    transform: scale(1.5);
}

/* クラスセレクタ：先頭にドット（.） */
.urgent[b-qi5dsc2gxt] {
  color: red;        /* 文字を赤くして目立たせる */
  font-weight: bold; /* 文字を太くする */
}

/* IDセレクタ：先頭にハッシュ（#） */
#special-item[b-qi5dsc2gxt] {
  background-color: #ffd700; /* 背景を金色にする */
  padding: 10px;             /* 内側の余白をつけて箱を少し大きくする */
}